admins:
  - nickname: 'Bob'
    hostmask: '*admin@host.com'
    password: 'pass123'
networks:
  freenode:
    server_address: 'irc.freenode.net'
    server_port: 6667
    nickname: 'TecnoBotter'
    username: 'tecnobrat'
    realname: 'See TecnoBrat'
    nickserv_pass: 'blah'
    bindip: '66.98.192.58'
    command_char: '@'
    memcache_host: 'localhost'
    memcache_port: '11211'
    memcache_namespace: 'rubybot'
    weather_par: ''
    weather_api: ''
    pownce_api_key: ''
    pownce_api_secret: ''
    channels:
    - '#coding'
#  shadowfire:
#    server_address: 'irc.shadowfire.org'
#    server_port: 6667
#    nickname: 'TecnoBotter'
#    username: 'tecnobrat'
#    realname: 'See TecnoBrat'
#    nickserv_pass: 'blah'
#    bindip: '66.98.192.58'
#    command_char: '@'
#    memcache_host: 'localhost'
#    memcache_port: '11211'
#    memcache_namespace: 'rubybot'
#    weather_par: ''
#    weather_api: ''
#    pownce_api_key: ''
#    pownce_api_secret: ''
#    channels:
#    - '#coding'

