#!/usr/bin/env ruby

#require active record
require 'rubygems'
require 'active_record'

#setup database
require 'core/database.rb'

load 'core/config.rb'

#setup
setup_models
setup_config

#Bot user details
Conf.create(:config_name => 'nickname', :config_value => 'NickName')
Conf.create(:config_name => 'realname', :config_value => 'My Name')
Conf.create(:config_name => 'nickserv_pass', :config_value => 'password') #optional

#Connection details
Conf.create(:config_name => 'server_address', :config_value => 'irc.freenode.net')
Conf.create(:config_name => 'server_port', :config_value => '6667')
Conf.create(:config_name => 'bindip', :config_value => '') #optional

#Bot settings
Conf.create(:config_name => 'command_char', :config_value => '@')

#Memcache settings
Conf.create(:config_name => 'memcache_host', :config_value => 'localhost')
Conf.create(:config_name => 'memcache_port', :config_value => '11211')
Conf.create(:config_name => 'memcache_namespace', :config_value => 'rubybot')

#Weather module settings
Conf.create(:config_name => 'weather_par', :config_value => '')
Conf.create(:config_name => 'weather_api', :config_value => '')

#Pownce module settings
Conf.create(:config_name => 'pownce_api_key', :config_value => '')
Conf.create(:config_name => 'pownce_api_secret', :config_value => '')

#Add user
user = User.create(:nickname => 'AdminNick', :admin => 1)
user.hosts.create(:hostmask => 'i=admin@host.com')

#Add channels
Channel.create(:name => '#channel')
Channel.create(:name => '#anotherchannel')

