#!/usr/bin/env ruby

#Bot user details
Config.create(:config_name => 'nickname', :config_value => 'NickName')
Config.create(:config_name => 'realname', :config_value => 'My Name')
Config.create(:config_name => 'nickserv_pass', :config_value => 'password') #optional

#Connection details
Config.create(:config_name => 'server_address', :config_value => 'irc.freenode.net')
Config.create(:config_name => 'server_port', :config_value => '6667')
Config.create(:config_name => 'bindip', :config_value => '') #optional

#Bot settings
Config.create(:config_name => 'command_char', :config_value => '@')

#Memcache settings
Config.create(:config_name => 'memcache_host', :config_value => 'localhost')
Config.create(:config_name => 'memcache_port', :config_value => '11211')
Config.create(:config_name => 'memcache_namespace', :config_value => 'rubybot')

#Weather module settings
Config.create(:config_name => 'weather_par', :config_value => '')
Config.create(:config_name => 'weather_api', :config_value => '')

#Pownce module settings
Config.create(:config_name => 'pownce_api_key', :config_value => '')
Config.create(:config_name => 'pownce_api_secret', :config_value => '')

#Add user
user = User.create(:nickname => 'AdminNick', :admin => 1)
user.hosts.create(:hostname => 'i=admin@host.com')

#Add channels
Channel.create(:name => '#channel')
Channel.create(:name => '#anotherchannel')

