#!/usr/bin/env ruby

#require sequel
require 'rubygems'
require 'sequel'

#setup database
require 'core/database.rb'

#setup logging
require 'core/logging.rb'

#load config
load 'core/config.rb'

#setup models and config
setup_models
setup_config

#Add user
user = User.create(:nickname => 'adminnick', :admin => 1)
user.add_host(Host.create(:hostmask => '*admin@host.com'))
user.password = 'password'
user.save

#Add channels
Channel.create(:name => '#channel')
